<!-- debut de head-->
<%- include('head'); -%>


<title>Kolima Admin Transfert</title>
  <!-- fin de head-->
</head>
<!-- debut  de menue-->
<%- include('menue'); -%>
    <!--fin de menue end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!-- debut du body-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
         <div class="col-lg-12 main-chart">

            <div class="row mt">
              <!-- SERVER STATUS PANELS -->

                <!-- /grey-panel -->

			   <!-- /col-md-4 -->
			     <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Nombre des transactions Journalière effectuer</h5>
                  </div>
				  <h1 class="mt">

            <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><title>Transaction</title><path d="M218.31,340.69A16,16,0,0,0,191,352v32H171a28,28,0,0,1-28-28V152a64,64,0,1,0-64-1.16V356a92.1,92.1,0,0,0,92,92h20v32a16,16,0,0,0,27.31,11.31l64-64a16,16,0,0,0,0-22.62ZM112,64A32,32,0,1,1,80,96,32,32,0,0,1,112,64Z"/><path d="M432,360.61V156a92.1,92.1,0,0,0-92-92H320V32a16,16,0,0,0-27.31-11.31l-64,64a16,16,0,0,0,0,22.62l64,64A16,16,0,0,0,320,160V128h20a28,28,0,0,1,28,28V360.61a64,64,0,1,0,64,0ZM400,448a32,32,0,1,1,32-32A32,32,0,0,1,400,448Z"/></svg>

          </h1>

                  <h3>6</h3>
                </div>
              </div>


			   <div class="col-md-4 col-sm-4 mb">
                <div style=" color: #fff;   text-align: center;
    background: #198754 ;" class=" pn">
                  <div style="    background: #198754;
    padding: 3px; text-align: center;     font-size: 23px;
    margin-bottom: 15px;" class="primary-header green-header">
                    <h5>Nombre de transaction validée Journalièrement </h5>
                  </div>
				  <h1 class="mt">
                  <i   class="fa fa-refresh fa-3x"></i></h1>
                  <h3>6</h3>
                </div>
              </div>
              <!-- /col-md-4-->

			  <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div  style=" color: #fff;   text-align: center;
                background: #dc3545;" class="white-panel	 pn">
                  <div   style=" color: #fff;   text-align: center;
                  background: #dc3545;" class="white-header">
                    <h5>Nombre de Transaction non validée Journalièrement</h5>
                  </div>
				  <h1 class="mt">

            <i   class="fa fa-refresh fa-3x"></i></h1>

                  <h3>2</h3>
                </div>
              </div>
			    <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel	 pn">
                  <div class="darkblue-header">
                    <h5>Dépot Journalière</h5>
                  </div>
				  <h1 class="mt">

            <svg xmlns="http://www.w3.org/2000/svg" width="100" fill="#fff" height="100" viewBox="0 0 512 512"><title>ionicons-v5-a</title><path d="M256,464c114.87,0,208-93.13,208-208S370.87,48,256,48,48,141.13,48,256,141.13,464,256,464ZM164.64,251.35a16,16,0,0,1,22.63-.09L240,303.58V170a16,16,0,0,1,32,0V303.58l52.73-52.32A16,16,0,1,1,347.27,274l-80,79.39a16,16,0,0,1-22.54,0l-80-79.39A16,16,0,0,1,164.64,251.35Z"/></svg></h1>

                  <h3>20000</h3>
                </div>
              </div>
              <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Retrait  Journalière</h5>
                  </div>
				  <h1 class="mt">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><title>ionicons-v5-a</title><path d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm91.36,212.65a16,16,0,0,1-22.63.09L272,208.42V342a16,16,0,0,1-32,0V208.42l-52.73,52.32A16,16,0,1,1,164.73,238l80-79.39a16,16,0,0,1,22.54,0l80,79.39A16,16,0,0,1,347.36,260.65Z"/></svg></h1>

                  <h3>600000 </h3>
                </div>
              </div>
            </div>

            <!-- /row -->
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->

                <!-- /grey-panel -->

			   <!-- /col-md-4 -->
			     <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Nombre des transactions Journalière effectuer</h5>
                  </div>
				  <h1 class="mt">

            <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><title>Transaction</title><path d="M218.31,340.69A16,16,0,0,0,191,352v32H171a28,28,0,0,1-28-28V152a64,64,0,1,0-64-1.16V356a92.1,92.1,0,0,0,92,92h20v32a16,16,0,0,0,27.31,11.31l64-64a16,16,0,0,0,0-22.62ZM112,64A32,32,0,1,1,80,96,32,32,0,0,1,112,64Z"/><path d="M432,360.61V156a92.1,92.1,0,0,0-92-92H320V32a16,16,0,0,0-27.31-11.31l-64,64a16,16,0,0,0,0,22.62l64,64A16,16,0,0,0,320,160V128h20a28,28,0,0,1,28,28V360.61a64,64,0,1,0,64,0ZM400,448a32,32,0,1,1,32-32A32,32,0,0,1,400,448Z"/></svg>

          </h1>

                  <h3>6</h3>
                </div>
              </div>


			   <div class="col-md-4 col-sm-4 mb">
                <div style=" color: #fff;   text-align: center;
    background: #198754 ;" class=" pn">
                  <div style="    background: #198754;
    padding: 3px; text-align: center;     font-size: 23px;
    margin-bottom: 15px;" class="primary-header green-header">
                    <h5>Nombre de transaction validée Journalièrement </h5>
                  </div>
				  <h1 class="mt">
                  <i   class="fa fa-refresh fa-3x"></i></h1>
                  <h3>6</h3>
                </div>
              </div>
              <!-- /col-md-4-->

			  <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div  style=" color: #fff;   text-align: center;
                background: #dc3545;" class="white-panel	 pn">
                  <div   style=" color: #fff;   text-align: center;
                  background: #dc3545;" class="white-header">
                    <h5>Nombre de Transaction non validée Journalièrement</h5>
                  </div>
				  <h1 class="mt">

            <i   class="fa fa-refresh fa-3x"></i></h1>

                  <h3>2</h3>
                </div>
              </div>
			    <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel	 pn">
                  <div class="darkblue-header">
                    <h5>Dépot Mensuel</h5>
                  </div>
				  <h1 class="mt">

            <svg xmlns="http://www.w3.org/2000/svg" width="100" fill="#fff" height="100" viewBox="0 0 512 512"><title>ionicons-v5-a</title><path d="M256,464c114.87,0,208-93.13,208-208S370.87,48,256,48,48,141.13,48,256,141.13,464,256,464ZM164.64,251.35a16,16,0,0,1,22.63-.09L240,303.58V170a16,16,0,0,1,32,0V303.58l52.73-52.32A16,16,0,1,1,347.27,274l-80,79.39a16,16,0,0,1-22.54,0l-80-79.39A16,16,0,0,1,164.64,251.35Z"/></svg></h1>

                  <h3>20000</h3>
                </div>
              </div>
              <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Retrait  Mensuel</h5>
                  </div>
				  <h1 class="mt">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><title>ionicons-v5-a</title><path d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm91.36,212.65a16,16,0,0,1-22.63.09L272,208.42V342a16,16,0,0,1-32,0V208.42l-52.73,52.32A16,16,0,1,1,164.73,238l80-79.39a16,16,0,0,1,22.54,0l80,79.39A16,16,0,0,1,347.36,260.65Z"/></svg></h1>

                  <h3>600000 </h3>
                </div>
              </div>
            </div>
            <!--row-->
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->

                <!-- /grey-panel -->

			   <!-- /col-md-4 -->
			     <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Nombre des transactions Mensuel effectuer</h5>
                  </div>
				  <h1 class="mt">

            <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><title>Transaction</title><path d="M218.31,340.69A16,16,0,0,0,191,352v32H171a28,28,0,0,1-28-28V152a64,64,0,1,0-64-1.16V356a92.1,92.1,0,0,0,92,92h20v32a16,16,0,0,0,27.31,11.31l64-64a16,16,0,0,0,0-22.62ZM112,64A32,32,0,1,1,80,96,32,32,0,0,1,112,64Z"/><path d="M432,360.61V156a92.1,92.1,0,0,0-92-92H320V32a16,16,0,0,0-27.31-11.31l-64,64a16,16,0,0,0,0,22.62l64,64A16,16,0,0,0,320,160V128h20a28,28,0,0,1,28,28V360.61a64,64,0,1,0,64,0ZM400,448a32,32,0,1,1,32-32A32,32,0,0,1,400,448Z"/></svg>

          </h1>

                  <h3>6</h3>
                </div>
              </div>


			   <div class="col-md-4 col-sm-4 mb">
                <div style=" color: #fff;   text-align: center;
    background: #198754 ;" class=" pn">
                  <div style="    background: #198754;
    padding: 3px; text-align: center;     font-size: 23px;
    margin-bottom: 15px;" class="primary-header green-header">
                    <h5>Nombre de transaction validée Mensuellement </h5>
                  </div>
				  <h1 class="mt">
                  <i   class="fa fa-refresh fa-3x"></i></h1>
                  <h3>6</h3>
                </div>
              </div>
              <!-- /col-md-4-->

			  <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div  style=" color: #fff;   text-align: center;
                background: #dc3545;" class="white-panel	 pn">
                  <div   style=" color: #fff;   text-align: center;
                  background: #dc3545;" class="white-header">
                    <h5>Nombre de Transaction non validée Mensuellement</h5>
                  </div>
				  <h1 class="mt">

            <i   class="fa fa-refresh fa-3x"></i></h1>

                  <h3>2</h3>
                </div>
              </div>
			    <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel	 pn">
                  <div class="darkblue-header">
                    <h5>Dépot Mensuel</h5>
                  </div>
				  <h1 class="mt">

            <svg xmlns="http://www.w3.org/2000/svg" width="100" fill="#fff" height="100" viewBox="0 0 512 512"><title>ionicons-v5-a</title><path d="M256,464c114.87,0,208-93.13,208-208S370.87,48,256,48,48,141.13,48,256,141.13,464,256,464ZM164.64,251.35a16,16,0,0,1,22.63-.09L240,303.58V170a16,16,0,0,1,32,0V303.58l52.73-52.32A16,16,0,1,1,347.27,274l-80,79.39a16,16,0,0,1-22.54,0l-80-79.39A16,16,0,0,1,164.64,251.35Z"/></svg></h1>

                  <h3>20000</h3>
                </div>
              </div>
              <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Retrait  Mensuel</h5>
                  </div>
				  <h1 class="mt">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 512 512"><title>ionicons-v5-a</title><path d="M256,48C141.13,48,48,141.13,48,256s93.13,208,208,208,208-93.13,208-208S370.87,48,256,48Zm91.36,212.65a16,16,0,0,1-22.63.09L272,208.42V342a16,16,0,0,1-32,0V208.42l-52.73,52.32A16,16,0,1,1,164.73,238l80-79.39a16,16,0,0,1,22.54,0l80,79.39A16,16,0,0,1,347.36,260.65Z"/></svg></h1>

                  <h3>600000 </h3>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/assets/semantic/lib/jquery/jquery.min.js"></script>

  <script src="/assets/semantic/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/assets/semantic/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/assets/semantic/lib/jquery.scrollTo.min.js"></script>
  <script src="/assets/semantic/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/assets/semantic/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="/assets/semantic/lib/common-scripts.js"></script>
  <script type="text/javascript" src="/assets/semantic/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/assets/semantic/lib/gritter-conf.js"></script>
  <!--script for this page-->


</body>

</html>
