<body>
    <section id="container">
      <!-- **********************************************************************************************************************************************************
          TOP BAR CONTENT & NOTIFICATIONS
          *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo text-decoration-none"><b>KOLIMA <span>Transfert</span></b></a>
        <!--logo end-->
       
        <div class="top-menu">
            
                       
          <button data-bs-toggle="modal" data-bs-target="#deconnecter" class="btn btn-danger nav pull-right top-menu mt-2">Déconnection</button>
       
        </div>
      </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a ><img src="/assets/semantic/img/user.png" class="img-circle" width="80"></a></p>
            <h5 class="centered">
              <% if(typeof nom !== "undefined"){ %>
                <%= nom %>
                
          <% } %>
              </h5>
            <li class="mt">
              <a class="active" href="/Superadmin/Acceuil">
                <i class="fa fa-dashboard"></i>
                <span>Tableau de bord</span>
                </a>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i  class="fa fa-building-o "></i>
                <span>Agence</span>
                </a>
              <ul class="sub">
                <li><a href="/Superadmin/AjoutAgence">Ajout Agence</a></li>
                <li><a href="/Superadmin/ListeAgence">Liste des Agences</a></li>
              </ul>
            </li>
            <li class="mt-1">
              <a href="/Superadmin/LesTransactionTouts">
                
                <i  class="fa fa-refresh "></i>
                <span>Toute les Transactions</span>
                </a>
            
            </li>
            <li class="mt-1">
              <a href="/Superadmin/ToutTransactionvalider">
                <i  class="fa fa-check-square "></i>
                <span>Transaction validée</span>
                </a>
            
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i  class="fa fa-building-o "></i>
                <span>Compensation</span>
                </a>
              <ul class="sub">
                <li><a href="/Superadmin/Compensation">D'une Agence</a></li>
                <li><a href="/Superadmin/HistoriqueCompensation">Historique des compensations</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-briefcase"></i>
                <span>Configuration </span>
                </a>
              <ul class="sub"> 
                <li><a href="/Superadmin/Lesmonaies">La monnaie</a></li>
              
                <li><a href="/Superadmin/Configurationtaux">Taux d'échanges </a></li>
                <li><a href="/Superadmin/Lesfrais"> Liste des frais d'envoie</a></li>
                <li><a href="/Superadmin/Gainfrais">Gain des frais d'envoie </a></li>
                <li><a href="/Superadmin/Lestauxfraisechange">Les Taux Frais d'echange </a></li>
                <li><a href="/Superadmin/Lespaysliste">Liste des Pays </a></li>
                <li><a href="/Superadmin/ListedesTransfertPays">Liste des Transfert d un Pays  </a></li>
                
             
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-briefcase"></i>
                <span>Finances</span>
                </a>
              <ul class="sub"> 
                <li><a href="/Superadmin/Lestypescomptes">Les Types de Comptes</a></li>
              
                <li><a href="/Superadmin/Lescomptefinances">Les Comptes  </a></li>
                <li><a href="/Superadmin/SaissieComptables">Saissie des Operations Comptables</a></li>
                
                <li><a href="/Superadmin/ModifieEcriture">Modifier une Ecriture</a></li>
                <li><a href="/Superadmin/Lesetatsfinancier">Edition des Rapports Financiers</a></li>
                <li><a href="/Superadmin/BrouillardeCompte">Edition Du Brouillard de Compte </a></li>
                <li><a href="/Superadmin/Bilan">Bilan </a></li>
                <li> <a href="/Superadmin/CompteResultats"> Compte de Resultats </a> </li>
                <li><a href="/Superadmin/BalanceaDate">Balance A Date</a></li>
                <li><a href="/Superadmin/BalancePeriodique">Balance Périodique</a></li>
                
              </ul>
            </li>
            <li>
              <a href="/Superadmin/parametre">
                
                <i class="fa fa-cog"></i>
                <span>Parametre</span>
                </a>
            </li>
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
                                                      <!--Boite  suppression-->
                                                      <div class="modal fade" id="deconnecter" tabindex="-1" role="dialog" aria-labelledby="defaultModal" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                              <div class="modal-header bg-danger">
                                                                <h5 class="modal-title " id="exampleModalLabel">Attention, Déconnection !</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                              </div>
                                                                <div class="modal-body text-dark">
                                                                    Voulez-vous vous déconnectez ? 
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Non</button>
                                                                    <a href="/Superadmin/Deconnecter"><button type="button" data-bs-toggle="modal" data-bs-target="#regroupementambassade" id="oui"  class="btn btn-danger">Oui</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Boite suppression fin-->  