<!-- debut de head-->
<%- include('head'); -%>


<title>Kolima Agence Transfert</title>
  <!-- fin de head-->
</head>
<!-- debut  de menue-->
<%- include('menue'); -%>
    <!--fin de menue end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!-- debut du body-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
         <div class="col-lg-12 main-chart">

            <div class="row mt">
              <!-- SERVER STATUS PANELS -->

                <!-- /grey-panel -->

			   <!-- /col-md-4 -->
			     <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Retrait</h5>
                  </div>
				  <h1 class="mt">


                  <i   class="fa fa-chevron-circle-up fa-3x"></i></h1>

                  <h3>6</h3>
                </div>
              </div>


			   <div class="col-md-4 col-sm-4 mb">
                <div style=" color: #fff;   text-align: center;
    background: #ffcf00 ;" class=" pn">
                  <div style="    background: #e6c229;
    padding: 3px; text-align: center;     font-size: 23px;
    margin-bottom: 15px;" class="primary-header">
                    <h5>Envoie</h5>
                  </div>
				  <h1 class="mt">


                  <i   class="fa fa-chevron-circle-down fa-3x"></i></h1>

                  <h3>6</h3>
                </div>
              </div>
              <!-- /col-md-4-->

			  <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel	 pn">
                  <div class="white-header">
                    <h5>Retraits en attente</h5>
                  </div>
				  <h1 class="mt">


                  <i   class="fa fa-arrow-circle-down fa-3x"></i></h1>

                  <h3>2</h3>
                </div>
              </div>


              <div class="col-md-4 col-sm-4 mb">
                <div style="    text-align: center;
    background: #ac92ec ; color: #fff;" class="green-panel pn">
                  <div style="    background: #967adc;
    padding: 3px; text-align: center;     font-size: 23px;
    margin-bottom: 15px;" class="green-header">
                    <h5>Transaction validée  journalièrement</h5>
                  </div>
				  <h1 class="mt">


                  <i   class="fa fa-check-square fa-3x"></i></h1>

                  <h3>10</h3>
                </div>
              </div>

              <!-- /col-md-4 -->
			   <div class="col-md-4 col-sm-4 mb">
                <div class="green-panel pn">
                  <div class="green-header">
                    <h5>Solde</h5>
                  </div>
				  <h1 class="mt">


                  <i   class="fa fa-money fa-3x"></i></h1>

                  <h3>600000 </h3>
                </div>
              </div>

              <!-- /col-md-4  -->







            </div>

            <!-- /row -->

          </div>
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/assets/semantic/lib/jquery/jquery.min.js"></script>

  <script src="/assets/semantic/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/assets/semantic/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/assets/semantic/lib/jquery.scrollTo.min.js"></script>
  <script src="/assets/semantic/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/assets/semantic/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="/assets/semantic/lib/common-scripts.js"></script>
  <script type="text/javascript" src="/assets/semantic/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/assets/semantic/lib/gritter-conf.js"></script>

  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
