<!-- debut de head-->
<%- include('head'); -%>


<title>Kolima Agence Transfert || Modification de transaction   </title>
<style>
  #carte{
    display: none;
  }
  .error
        {
            color: red;
        }
    #erreurcode , #invalidecode ,  #myModal
    {
        display: none;
    }

</style>
  <!-- fin de head-->
</head>
<script src="/assets/semantic/lib/jquery-1.9.1.js"></script>
<script src="/assets/semantic/lib/jquery.validate.js"></script>
<script src="/assets/semantic/lib/moment.min.js"></script>
<script src="/assets/semantic/lib/html2pdf.bundle.min.js"></script>

<!-- debut  de menue-->
<%- include('menue'); -%>
    <!--fin de menue end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!-- debut du body-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">

            <div class="col-lg-12">
              <h4><i class="fa fa-angle-right"></i>Modification d une Transaction </h4>
              <div class="form-panel">
                <div class="form">
                  <form id="signupForm" class="cmxform form-horizontal style-form" id="signupForm" method="post" action="/Agence/retrait">



                <div class="form-group col-md-4 col-md-offset-2">
                  <label for="code" class="control-label ">Veuillez entrer le code que vous avez reçus  :</label>
                  <input type="text" class="form-control" name="code" id="code" placeholder="Entrez le code  ">
              </div>







                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-9">
                        <button id="enregistrer" class="btn btn-theme" type="submit">Envoyer</button>
                        <button id="can" class="btn btn-theme04" type="button">Fermer </button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
               <!-- Modal -->
               <div  id="erreurcode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div style="background-color: #d9534f;" class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Erreurs de  Code </h4>
                    </div>
                    <div class="modal-body">
                      <h4 id="texte"></h4>
                    </div>

                  </div>
                </div>
              </div>
              <div  id="invalidecode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div style="background-color: #f8c10c;" class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Code expirer  </h4>
                    </div>
                    <div class="modal-body">
                      <h4 id="te"></h4>
                    </div>

                  </div>
                </div>
              </div>

       <!--Boite modalw confirmation -->

<div class="modal  "  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="myModalLabel"> Facture </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid" id="lenvoie">
          <div class="row">
            <div class="col-md-3">
              <img style="width: 50px;" src="/assets/semantic/img/apple-touch-icon.png"/>
            </div>
            <div class="col-md-3">
              <h2>Kolima Transfert</h2>
              <h4>Agence : <span id="ag"></span> </h4>
            </div>
            <div class="col-md-6">
               <ul style="font-size: 20px;">
                 <li><span>Numéro de Transfert : </span>20220909</li>
                 <li>Date de la Transaction : <span id="ladate"></span> à <span id="heur"></span></li>
                </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 ">
                <h2>Information de l'expéditeur : </h2><hr>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h4>Nom : <span id="nomexpediteur"></span></h4>
                </div>
                <div class="col-md-6">
                  <h4>Téléphone : <span id="telephoneexpediteur"></span> </h4>
                </div>
                <div class="col-md-6">
                  <h4>Pays : <span id="paysexpediteur">Guinee</span> </h4>
                </div>
                <div class="col-md-6">
                  <h4>Ville  :  <span id="villeexpediteur"> Conakry</span></h4>
                </div>
                <div class="col-md-6">
                  <h4>Somme à envoyer   :  <span id="sommeexpediteur"> 5000000 fg </span></h4>
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-12 ">
                <h2>Information du bénéficiaire : </h2><hr>
            </div>
            <div class="col-md-12">
               <div class="row">
                <div class="col-md-6">
                  <h4>Nom : <span id="nombeneficaire"></span> </h4>
                </div>
                <div class="col-md-6">
                  <h4>Téléphone :  <span id="telephonebeneficaire"></span></h4>
                </div>
                <div class="col-md-6">
                  <h4>Pays :  <span id="paysbeneficaire">Sénegale </span></h4>
                </div>
                <div class="col-md-6">
                  <h4>Ville :  <span id="paysbeneficaire">Dakar </span></h4>
                </div>
                <div class="col-md-6">
                  <h4>Numéro de carte d'identité :   <span id="cartebeneficaire">Néant</span></h4>
                </div>
                <div class="col-md-6">
                  <h4>Somme à rcevoir :  <span id="paysbeneficaire">50000 fg
               </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 ">
              <h2></h2>
                <hr>
            </div>
            <div class="col-md-12">
              <div class=" col-md-6">
                <h4>Montant envoyer :   <span id="montantenvoie"></span> <em id="devise"></em> </h4>
              </div>
              <div class=" col-md-6">
                <h4>Montant à recevoir :   <span id="montantbeneficiaire"></span> </h4>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <form method="post" action="/Agence/code">
        <button type="button" class="btn btn-default" data-dismiss="modal"><a  href="/Agence/RetraitArgent">Fermer</a></button>

          <input type="hidden" name="idtransaction" id="idtransaction"  />
          <button type="button submit" id="imprimer" class="btn btn-success">Validé </button>
        </form>
      </div>
    </div>
  </div>
</div>
      <!--Fin Modale -->
            </div>
            <!-- /col-lg-12 -->
          </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->

  <script>

var nomimprimer = "";
var idtransaction = "";

    $().ready(function() {
      // validate the comment form when it is submitted
      jQuery.validator.addMethod("phoneGuinee", function (phone_number, element) {
        phone_number = phone_number.replace(/\s+/g, "");
        return this.optional(element) || phone_number.length >= 9 && phone_number.match(/^6[1,2,5,6]{1}[0-9]{7}$/);
    }, "Veuillez Entrez le bon format de Numero");
      // validate signup form on keyup and submit
      $("#signupForm").validate({
        rules: {
          code: {
            required: true,
            minlength: 5
          } ,

        },
        messages: {
          code: {
            required: "Veuillez entrez le code .",
            minlength: "Votre code doit  être égale à 5 caractères "
          }
        },
        submitHandler: function(form){

     $.ajax({
         url: form.action,
         type: form.method,
         data: $(form).serialize(),
         success: function(response) {


              if (response.codeerreurs) {
                $("#texte").html(response.codeerreurs);

    $("#erreurcode").css({
                      display: 'block'
                    });
                    setTimeout(function () {
    $("#erreurcode").css({
      display: 'none'
    });
    }, 3000)

                }
                if (response.invalidecode) {
                $("#te").html(response.invalidecode);

    $("#invalidecode").css({
                      display: 'block'
                    });
                    setTimeout(function () {
    $("#invalidecode").css({
      display: 'none'
    });
    }, 3000)

                }

                if (response.transaction) {

    $("#myModal").css({
                      display: 'block'
                    });
                var date = response.transaction['Datetransaction'] ;
                var ladate =  moment(date).format('DD / MM / YYYY ');
                var heur  =  moment(date).format(' h:mm:ss ');
                $("#ladate").html(ladate);
                $("#heur").html(heur);
                $("#ag").html(response.nomagence);
                nomimprimer = response.nomagence + ladate + heur + ".pdf";
                //
                $("#idtransaction").val(response.transaction['idtransac']);

                $("#nomexpediteur").html(response.transaction['Nomexpediteur']);
                $("#telephoneexpediteur").html(response.transaction['Contactexpediteur']);
                $("#nombeneficaire").html(response.transaction['Nomreceveur']);
                $("#telephonebeneficaire").html(response.transaction['Contactreceveur']);
                $("#cartebeneficaire").html(response.transaction['Numerocarte']);
                $("#montantbeneficiaire").html(response.transaction['Sommeenvoie']);
                //montantenvoie
                $("#montantenvoie").html(response.sommes);
                //devise
                $("#devise").html(response.devise);


              }




                        }
           });
     }

      });


      //code to hide topic selection, disable for demo
      var newsletter = $("#newsletter");
      // newsletter topics are optional, hide at first
      var inital = newsletter.is(":checked");
      var topics = $("#newsletter_topics")[inital ? "removeClass" : "addClass"]("gray");
      var topicInputs = topics.find("input").attr("disabled", !inital);
      // show when newsletter is checked
      newsletter.click(function() {
        topics[this.checked ? "removeClass" : "addClass"]("gray");
        topicInputs.attr("disabled", !this.checked);
      });
    });

 document.querySelector("#imprimer").addEventListener("click", ()=>{
            const invoice = this.document.getElementById("lenvoie");

                 //si le compte n'est pas engistrer


            var opt = {
  margin:       0.5,
  filename:     nomimprimer,
  image:        { type: 'jpeg', quality: 0.98 },
  html2canvas:  { scale: 2 },
  jsPDF:        { unit: 'in', format: 'a4', orientation: 'portrait' }
};
html2pdf().from(invoice).set(opt).save();

        })



    </script>

  <script src="/assets/semantic/lib/bootstrap/js/bootstrap.min.js"></script>

  <script class="include" type="text/javascript" src="/assets/semantic/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/assets/semantic/lib/jquery.scrollTo.min.js"></script>
  <script src="/assets/semantic/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/assets/semantic/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="/assets/semantic/lib/common-scripts.js"></script>
  <script type="text/javascript" src="/assets/semantic/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/assets/semantic/lib/gritter-conf.js"></script>
  <!--script for this page-->



</body>

</html>
